<html>
    <head>
       <title>First APP</title> 
    </head>
    <body>
        <form method = "POST" action = "/user/add">
            <input name = "name"  placeholder = "name" value =""/>
            <input name = "email" placeholder = "email" value =""/>
            <button type = "submit">Submit</button>
        </form>
    </body>
</html> 